.incoming {
    background: rgba(255,255,255,0.5);
    padding: 1em;
    margin: 0 1em;
    color: #2b2b2b;
    border-radius: 0.8em;
    min-height: 4em;
    word-break: break-word;
    h2{
        font-size: 3em;
    }
    h2, h3{
        margin: 0;
    }
    .chat-info {
        margin: 0 0 1em 0;
        h3 {
            padding: 0 0 1em 0;
            border-bottom: 1px solid green;
        }
    }
}

.outgoing {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    padding: 1em;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    form{
        width: 100%;
    }
    input {
        border: none;
        border-radius: 10em;
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 1em;
        width: calc(100% - 3em);
        background: #e5e5e5;
    }
    .bump {
        border: none;
        border-radius: 100%;
        background: none;
        width: auto;
        margin: 0;
        img{
            width: 2em;
        }
    }
}