section {
  padding: 0 1em;
  color: white;
  height: 100vh;
  max-width: 25em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
  h3 {
    font-size: 2em;
    margin: 0;
  }
  p {
    font-size: 1.4em;
    margin: 0;
    font-family: 'Outfit-Regular';
  }
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carousel-item-inner {
      margin: 1em 0;
    }
  }
  button.continue {
    width: 15em;
    margin: 5em auto;
    padding: 1.5em;
    border: none;
    border-radius: 5em;
    text-transform: uppercase;
    color: #2b2b2b;
    background: #ffca5a;
    font-weight: 600;
    display: flex;
    justify-content: center;
    &:focus-visible {
      outline: 3px solid white;
      outline-offset: 3px;
    }
  }
}
