section {
  padding: 0 1em;
  color: white;
  height: 100vh;
  max-width: 25em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
  h3 {
    font-size: 2em;
    margin: 0;
  }
  p {
    font-size: 1.4em;
    margin: 0;
    font-family: 'Outfit-Regular';
  }
  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carousel-item-inner {
      margin: 1em 0;
    }
  }
}
