<section>
  <h2>How it works</h2>
  <div class="carousel">
    <ng-container *ngFor="let content of slideContent; let i = index">
      <ng-container class="carousel-item">
        <div class="carousel-item-inner">
          <h3>{{i + 1}}. {{ content.title }}</h3>
          <p>{{ content.description }}</p>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <button [routerLink]="['/chat']" routerLinkActive="router-link-active" class="continue">
    Continue
  </button>
</section>
