@import 'styles/button.scss';

@font-face {
  font-family: Outfit;
  src: url("./assets/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: Outfit-Regular;
  src: url("./assets/Outfit-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: Outfit;
  background: #FF9AA2;
}